<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Kelompok Study Linux</title>
    <link rel="stylesheet" href="/static/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-migrate.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/controller.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.min.js"></script>
</head>

<body ng-app="kslweb" class="home blog has-featured-image">
	<div ng-view></div>
	{% block content %}
		
	{% endblock %}
</body>
</html>